node_modules/
config.json
src/lavalink/LavalinkConfig.json
*.env
*config.json
.env
.idea
coverage/
package-lock.json
UPDATE.md
.vscode
index.d.ts
.dockerignore
kube/
Dockerfile
test.js
yarn.lock
.altostra
.node_modules/
.dccache