revolt/build/
build/
node_modules/
config.json
LavalinkConfig.json
*.env
.env
.idea
coverage/
package-lock.json
UPDATE.md
.vscode/**
# Snippets
!.vscode/*.code-snippets
index.d.ts
.dockerignore
kube/
Dockerfile
test.js
.altostra
.node_modules/
.dccache
dist/
dist
*.d.ts
revolt/src/*.js
yarn-error.log
.chinokafuu